{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add a New Post {% endblock %}</h1>
    <form method="post">
    <div class="form-group">
        <label for="category">Wybierz kategorię:</label>
            <select class="form-control" id="category" name="category">
              <option value="zywnosc">Zywnosc</option>
              <option value="paliwo">Paliwo</option>
              <option value="odziez">Odziez</option>
              <option value="opal">Opal</option>
              <option value="prad">Prad</option>
              <option value="gaz">Gaz</option>
              <option value="telekomunikacja">Telekomunikacja</option>
            </select>
        <br>
        <label for="total">Suma</label>
        <br>
        <input class="form-control" type="number" step="0.01" name="total"
               placeholder="total"></input>
        <br>

        <label for="description">Opis</label>
        <br>
        <textarea class="form-control" name="description"
                  placeholder="Post content"
                  rows="6"
                  cols="30"
                  >{{ request.form['description'] }}</textarea>
        <br>
        <button class="btn btn-success" type="submit">Submit</button>
    </div>
    </form>
{% endblock %}