{% extends 'base.html' %}

{% block content %}

    <body></br></br></br></br></br>
        <div class="form-group">
          <div class="border">
             <div class="header">
                <h1 class="word">Register</h1>
             </div>
            <div class="form-group">
                <form action="{{ url_for('register') }}" method="post">
                  <div class="msg">{{ msg }}</div>
                    <input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox"/></br></br>
                    <input id="password" name="password" type="password" placeholder="Enter Your Password" class="textbox"/></br></br>
                    <input id="email" name="email" type="text" placeholder="Enter Your Email ID" class="textbox"/></br></br>
                    <input type="submit" class="btn btn-success"  value="Sign Up"></br>
                </form>
            </div>
            <p class="bottom">Already have an account?  <a href="{{url_for('login')}}"> Sign In here</a></p>
          </div>
        </div>
    </body>

{% endblock %}