<!DOCTYPE HTML>

<html>
	<head>
		<title>Login</title>
	</head>
	<body>
		<div class="container">
			<h1>Login</h1>
			<form method="POST" action="{{ url_for('login') }}">
				{{ form.csrf_token }}
				{{ form.email.label }} {{ form.email(size=30) }}
				{% for err in form.email.errors %}
				<span style="color:red">{{err}}</span>
				{% endfor %} <br>
				{{ form.password.label }} {{ form.password(size=30) }}
				{% for err in form.password.errors %}
				<span style="color:red">{{err}}</span>
				{% endfor %}<br>
				{{form.submit}}
			</form>
		</div>
	</body>
</html>